/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);
@import url(https://fonts.googleapis.com/css?family=Figtree:400,700&display=swap);

$font-family-sans-serif: Figtree, Helvetica, sans-serif !default;
$font-family-monospace: "Fira Mono", monospace;
$headings-font-family: Figtree, Helvetica, sans-serif !default;

//  rainbowR colors
$red: #FF4239;
$orange: #FF6B00;
$yellow: #FFC843;
$green: #09CE7C;
$blue: #02B3E3;
$pink: #DA3AB3;
$purple: #DA3AB3;
$royal-blue: #01299F;
$dark-blue: #001552;
$very-dark-blue: #000D33;

$red30: #b32e28;
$orange30: #b34b00;
$yellow30: #b38c2f;
$green30: #069057;
$blue30: #017d9f;

$red20: #cc352e;
$orange20: #cc5600;
$yellow20: #cca036;
$green20: #07a563;
$blue20: #028fb6;

$gray: #58595B;
$gray_dark: #383838; // 
$black: #000000;
$gray20: #cccccc; // % of black
$gray10: #e6e6e6; // % of black
$gray05: #f2f2f2; // % of black
$white: #ffffff;
$light: #FAFBFF;
$lightish: #F5F7FF;

$primary: $purple;
$body-color: $very-dark-blue;
$body-bg: $white;
$link-color: $blue;
$code-color: $red;
$code-block-border-color: $gray10;
$code-block-bg: $white;

$presentation-font-size-root: 32px;
$code-block-font-size: .7em;
$presentation-heading-font: Figtree, Helvetica, sans-serif !default;

$callout-color-note: $blue;
$callout-color-tip: $green;
$callout-color-caution: $orange;
$callout-color-warning: $yellow;
$callout-color-important: $red;

/*-- scss:rules --*/
// Create a map using color names
$colors: (
  'red': $red,
  'orange': $orange,
  'yellow': $yellow,
  'green': $green,
  'blue': $blue,
  'pink': $pink,
  'purple': $purple,
  'very-dark-blue': $very-dark-blue,
  'white': $white
);

// colour classes - bold text
@each $name, $color in $colors {
    .#{$name} { 
      color: $color;
      font-weight: 700;
    }
}

// colour classes - highlight text
@mixin hl($padding: 5px 10px) {
  font-weight: 700;
  padding: $padding;
}

@each $name, $color in $colors {
    .#{$name}-hl {
      @include hl;  
      background-color: $color;
    }
}

// colour classes - slide background
@each $name, $color in $colors {
    .#{$name}-bg {
      .slide-background-content {
        background-color: $color;
      }

      .footer a {
        $color: $royal-blue;
      }
    }
}



// Correct the alignment and spacing of the title in the callouts
.reveal .callout {
  .callout-title {
    display: flex;
    align-items: center;
    
    .callout-icon-container {
      margin-right: 0.1rem;  // Add space after the icon
    }

    p {
      margin: 0;
      padding: 0;
      align-self: center;
    }
  }
}

// color classes
.primary {
  color: $primary;
}

// code
pre.sourceCode {
  border-radius: 0;
  border-left-color: $gray;
}

// title-slide
#title-slide {
  color: $white;
}

#title-slide .title {
  font-size: 70px;
  padding-bottom: .25em;
  color: $yellow;
}

#title-slide .subtitle {
  margin-bottom: 6rem;
}

.reveal .quarto-title-block .quarto-title-authors {
  display: block;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5em;
}

// alignment and spacing
.center-h {
  text-align: center;
}

.right {
  text-align: right;  
}

p {
  padding-bottom: 12px;
}

.cell {
  padding-bottom: 20px;
}

// headings - ensure these rules are not being overridden
.reveal h2, .reveal h3 {
  color: $primary;
}

.reveal h2 {
  padding-bottom: 20px;
}

// sizes
.smaller90 { font-size: 90%; }
.smaller80 { font-size: 80%; }
.smaller75 { font-size: 75%; }
.smaller70 { font-size: 70%; }
.smaller60 { font-size: 60%; }
.smaller50 { font-size: 50%; }
.larger125 { font-size: 125%; }
.larger150 { font-size: 150%; }
.larger175 { font-size: 175%; }
.larger200 { font-size: 200%; }
.larger250 { font-size: 250%; }

// figure caption
.reveal .slide figure>figcaption, .reveal .slide img.stretch+p.caption, .reveal .slide img.r-stretch+p.caption {
  font-size: 0.5em;
}

// tables
.reveal table th, .reveal table td {
    border-bottom: 1px solid;
    border-color: $gray20;
}

// keyboard
kbd {
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 9px;
  background: linear-gradient(178deg, #fff, #fff, #fff, #ddd);
}

// don't show page number on title-page
.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}

// inverse
.inverse {
  color: $white;

  h1, h2, h3, .slide-title {
    color: $yellow !important;
  }
  
  .slide-background-content {
    background-color: $very-dark-blue;
  }
  
  a {
    color: $blue;
  }
  
  p code {
    color: $yellow; // will be overwritten in col-box and {col}-bg
  }

  // syntax highlighting

  code {
    background-color: $very-dark-blue;
    span.st {
      color: $green;
    }
  }
  
  // Inverse callout backgrounds
  div.callout-note.callout-style-default .callout-title {
    background-color: $blue30 !important;
  }

  div.callout-warning.callout-style-default .callout-title {
    background-color: $yellow30 !important;
  }

  div.callout-important.callout-style-default .callout-title {
    background-color: $red30 !important;
  }

  div.callout-tip.callout-style-default .callout-title {
    background-color: $green30 !important;
  }

  div.callout-caution.callout-style-default .callout-title {
    background-color: $orange30 !important;
  }
  
  // white icons in inverse mode
  .callout-icon::before {
    filter: brightness(0) invert(1);
  }
}

// CRITICAL: This overrides callout title colors in inverse slides
.inverse .callout-title p { 
  color: $white !important; 
}

// mixin for boxes with height parameter
@mixin box-style($height: 450px) {  // 450px is default value
  border-radius: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px;
  box-sizing: border-box;
  height: $height;
}

// Generate styles for each box
@each $name, $color in $colors {
  .col-box-#{$name} {
    @include box-style;  // uses default height
    background: $color;
    color: $very-dark-blue;
    p code {
      color: $royal-blue;
      background-color: $color;
    }
  }
  
  // Create a tall variant
  .col-box-#{$name}-tall {
    @include box-style(550px);  
    background: $color;
    color: $very-dark-blue;
    p code {
      color: $royal-blue;
      background-color: $color;
    }
  }

  // Create a short variant
  // two shorts with 10px gap stack to same height as tall 
  .col-box-#{$name}-short {
    @include box-style(270px);  
    background: $color;
    color: $very-dark-blue;
    p code {
      color: $royal-blue;
      background-color: $color;
    }
  }
}

// Override code color for all color boxes
[class*="col-box-"] p code,  [class*="-bg"] p code {
  color: $royal-blue !important;
}

[class*="col-box-"] h1,  
[class*="col-box-"] h2, 
[class*="col-box-"] h3, 
[class*="-bg"] h1,
[class*="-bg"] h2,
[class*="-bg"] h3  {
  color: $very-dark-blue !important;
}
